.three {
    position: relative;
    padding: 0;
    height: 100vh !important;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5)), /* White gradient overlay */
        url('/back.png'); /* Background image */
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center; /* Centers the background image */
}
h1 {
    font-size: 6rem;
    font-weight: 700;
    color: #053217;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 40px;

    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
  }