.three {
    position: relative;
    padding: 0;
    height: 100vh !important;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    background-color: #fff;
}
.box{
    padding-top: 200px;
}
h1 {
    font-size: 6rem;
    font-weight: 700;
    color: #053217;
    text-transform: uppercase;
    letter-spacing: 0.15em;


  
    transition: all 0.3s ease;
  }