@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    135deg,               /* Direction of the gradient */
    rgba(164, 241, 164, 0.3), /* Light green at 30% opacity */
    rgba(43, 137, 43, 0.2)    /* Darker green at 20% opacity */
  );
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
